

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#map-canvas img {
	max-width: none;
}

#map-canvas{
	margin-top: 10px;
}

.jumbotron {
	position: relative;
	color: #fff;
	text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
	background: -moz-linear-gradient(45deg, #000000 0%, #1e5b00 100%), #020031;
	background: -webkit-gradient(linear, left bottom, right top, from(#000000), to(#1e5b00)), #020031;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020031', endColorstr='#6d3353',GradientType=1 );
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.32), inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.32), inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.32), inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

body {
	position: relative;
	padding: 0px;
}

.sidebar{
	
	margin: 10px 0px 0px 0px;
}


h1, h2, h3, h4, h5, p, span, label, button {
	font-family: 'Lato', sans-serif;
}

h1, label {
	font-weight: 400;
}

h2, span {
	font-weight: 300;
}

h3, p {
	font-weight: 100;
}

.modal-footer .input-append .btn{
	margin-left: 0;
}

.modal-footer .input-prepend .btn{
	margin-left: 0;
}

@media (max-width: 767px){

.container {
	margin: 0px 10%;
	width: 80%;
}

body .modal {
    /* new custom width */
    width: 560px;
    /* must be half of the width, minus scrollbar on the left (30px) */
    margin-left: -280px;
}

	
}











